.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
@media (max-width: 802px) {
    .filter-container {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
.form-control {
    width: 500px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    padding: 10px;
}