.missionsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 30px;
}

.missionsTitle {
    width: fit-content;
    font-weight: 900;
    font-size: 45px;
    line-height: 50px;
}

.missionSelectContainer {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    gap: 10px;
}

.missionCardlist {
    display: flex;
    gap: 50px;
}
