.cardWrapper  {
    width: 300px;
    height: 350px;
    padding: 15px;
    border-radius: 10px;
    background-color:darkgrey;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-weight: 700;
}